<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ข้อมูลส่วนบุคคล</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">ข้อมูลส่วนบุคคล</li>

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid note-has-grid  ">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding ">
                        <h4 style="margin-right:20px;" class="card-title mb-0">ข้อมูลส่วนบุคคล<span
                                class="text-secondary">
                            </span></h4>
                        <input type="hidden" id="tag_007" value="" readonly>
                    </div>
                    <div class="tab-content">
                        <div id="note-full-container">
                            <div class="col-md-12 all-category">
                                <div class="card-body">
                                    <div class="row pb-3">
                                        <div class="col-md-5">
                                            <a href="/new_personal" class="btn btn-success">
                                                <i class="fas fa-plus"></i>
                                                เพิ่มข้อมูลส่วนบุคคล
                                            </a>
                                        </div>
                                        <div class="col-md-7 justify-content-end align-self-center d-block d-md-flex">
                                            <div class="input-group mb-2">
                                                <a href="/personal_data" class="btn btn-outline-warning"><i
                                                        data-feather="repeat"></i></a>
                                                <input class="form-control" type="datetime-local" name="search_datetime"
                                                    value="<%=date%>" id="datechange">
                                                <input type="text" class="form-control" placeholder="ค้นหา.."
                                                    id="myInput" name="search" aria-label=""
                                                    aria-describedby="button-addon2" value="<%=keyword%>">
                                                <button type="button" id="search_key"
                                                    class="btn btn-outline-warning search-key">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive" style="min-height: 470px;">
                                        <table class="tablesaw no-wrap table-striped table-bordered table-hover table"
                                            data-tablesaw-mode="stack" data-tablesaw-sortable>
                                            <thead>
                                                <tr>
                                                    <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                                        data-tablesaw-priority="3" class="border">ลำดับ</th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="persist" class="border">
                                                        ประเภทของข้อมูลส่วนตัว</th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="persist" class="border">code
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="persist" class="border">
                                                        ข้อมูล
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="persist" class="border">
                                                        ระดับของข้อมูล
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="persist" class="border">
                                                        รายละเอียดเพิ่มเติม
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="persist" class="border">
                                                        สถานะ
                                                    </th>

                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="1" class="border">ดูข้อมูล
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="4" class="border">
                                                        แก้ไขข้อมูล
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="5" class="border">ลบข้อมูล
                                                    </th>
                                                </tr>
                                            </thead>
                                            <input id="data_id" value="<%=data_id%>" readonly hidden />
                                            <input id="data_type_id" value="<%=data_type_id%>" readonly hidden />
                                            <input id="data_code" value="<%=data_code%>" readonly hidden />
                                            <input id="data_name" value="<%=data_name%>" readonly hidden />
                                            <input id="data_level_id" value="<%=data_level_id%>" readonly hidden />
                                            <input id="data_detail" value="<%=data_detail%>" readonly hidden />
                                            <input id="data_date_start" value="<%=data_date_start%>" readonly hidden />
                                            <input id="data_date_end" value="<%=data_date_end%>" readonly hidden />
                                            <!-- <input id="data_location_name" value="<%=data_location_name%>" readonly
                                                hidden />
                                            <input id="data_location_detail" value="<%=data_location_detail%>" readonly
                                                hidden /> -->

                                            <input id="level_id" value="<%=level_id%>" readonly hidden />
                                            <input id="level_name" value="<%=level_name%>" readonly hidden />

                                            <input id="data_type_id1" value="<%=data_type_id1%>" readonly hidden />
                                            <input id="data_type_name" value="<%=data_type_name%>" readonly hidden />

                                            <tbody id="table-body">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6 text-secondary">
                                            <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด
                                                <span id="total"></span>
                                                รายการ
                                            </span>
                                        </div>
                                        <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                                            <nav aria-label="Page navigation example" class="mt-2">
                                                <ul class="pagination" id="pagination-wapper">
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <form action="/delete_personal" method="POST">
        <div id="delete_personal" class="modal fade" tabindex="-1" aria-labelledby="danger-header-modalLabel"
            aria-hidden="true" style="display: none;">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header border-bottom title-part-padding">
                        <h4 class="modal-title" style="color: black;">
                            ยืนยันการลบข้อมูลส่วนบุคคล
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body" id="del_personal">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger ">ยืนยัน</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </form>

    <form action="/docsaveTag" method="POST">
        <div id="new_Tag" class="modal fade" tabindex="-1" aria-labelledby="success-header-modalLabel"
            aria-hidden="true" style="display: none;">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header border-bottom title-part-padding">
                        <h4 class="modal-title" style="color: black;">
                            เพิ่มแท็ก
                        </h4>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name='personal_dataTag' placeholder="กรอกแท็ก.." style="border-radius: 4px;"
                            required>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-success font-weight-medium">บันทึกข้อมูล</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div id="delete_tag_modal" class="modal fade" tabindex="-1" aria-labelledby="success-header-modalLabel"
        aria-hidden="true" style="display: none;">
        <div class="modal-dialog ">
            <div class="modal-content">
                <form action="/delete_tage" method="POST">
                    <div class="modal-header modal-colored-header border-bottom title-part-padding">
                        <h4 class="modal-title" style="color: black;">
                            ลบแท็ก
                        </h4>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="col-md-12 text-center " id="tag_name">

                        </h5>
                        <input type="" name='tag_id' id="tag_id">
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-danger font-weight-medium">บันทึกข้อมูล</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/dist/js/views_js/pagination_data.js"></script>

    <%- include('../_footer') -%>