
<!-- -------------------------------------------------------------- -->
<!-- End Container fluid  -->
<!-- -------------------------------------------------------------- -->
<!-- -------------------------------------------------------------- -->
<!-- footer -->
<!-- -------------------------------------------------------------- -->
</div>
<footer class="footer">
    PDPA 3in1 Version 1.0, All right reserved by SGC Service Co., Ltd.
</footer>
<!-- -------------------------------------------------------------- -->
<!-- End footer -->
<!-- -------------------------------------------------------------- -->
</div>

<!-- -------------------------------------------------------------- -->
<!-- End Page wrapper  -->
<!-- -------------------------------------------------------------- -->
</div>
<!-- -------------------------------------------------------------- -->
<!-- End Wrapper -->
<!-- -------------------------------------------------------------- -->
<!-- -------------------------------------------------------------- -->
<!-- customizer Panel -->
<!-- -------------------------------------------------------------- -->


<aside class="customizer">
    <a href="javascript:void(0)" class="service-panel-toggle"><i class="fa fa-spin fa-cog"></i></a>
    <div class="customizer-body">
        <ul class="nav customizer-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" href="#chat" role="tab"
                    aria-controls="chat" aria-selected="true"><i class="mdi mdi-history fs-6"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="false"><i class="mdi mdi-wrench fs-6"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="pills-alerts-tab" data-bs-toggle="pill" href="#alerts" role="tab"
                    aria-controls="alerts" aria-selected="false"><i class="mdi mdi-message fs-6"></i></a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <!-- Tab 1 -->
            <div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="p-3 border-bottom">
                    <!-- Sidebar -->
                    <h5 class="font-weight-medium mb-2 mt-2">Layout Settings</h5>
                    <div class="form-check mt-3">
                        <input type="checkbox" name="theme-view" class="form-check-input" id="theme-view">
                        <label class="form-check-label" for="theme-view"> <span>Dark Theme</span> </label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="checkbox" class="sidebartoggler form-check-input" name="collapssidebar"
                            id="collapssidebar">
                        <label class="form-check-label" for="collapssidebar"> <span>Collapse Sidebar</span> </label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="checkbox" name="sidebar-position" class="form-check-input" id="sidebar-position">
                        <label class="form-check-label" for="sidebar-position"> <span>Fixed Sidebar</span> </label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="checkbox" name="header-position" class="form-check-input" id="header-position">
                        <label class="form-check-label" for="header-position"> <span>Fixed Header</span> </label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="checkbox" name="boxed-layout" class="form-check-input" id="boxed-layout">
                        <label class="form-check-label" for="boxed-layout"> <span>Boxed Layout</span> </label>
                    </div>
                </div>
                <div class="p-3 border-bottom">
                    <!-- Logo BG -->
                    <h5 class="font-weight-medium mb-2 mt-2">Logo Backgrounds</h5>
                    <ul class="theme-color m-0 p-0">
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-logobg="skin1"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-logobg="skin2"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-logobg="skin3"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-logobg="skin4"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-logobg="skin5"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-logobg="skin6"></a>
                        </li>
                    </ul>
                    <!-- Logo BG -->
                </div>
                <div class="p-3 border-bottom">
                    <!-- Navbar BG -->
                    <h5 class="font-weight-medium mb-2 mt-2">Navbar Backgrounds</h5>
                    <ul class="theme-color m-0 p-0">
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-navbarbg="skin1"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-navbarbg="skin2"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-navbarbg="skin3"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-navbarbg="skin4"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-navbarbg="skin5"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-navbarbg="skin6"></a>
                        </li>
                    </ul>
                    <!-- Navbar BG -->
                </div>
                <div class="p-3 border-bottom">
                    <!-- Logo BG -->
                    <h5 class="font-weight-medium mb-2 mt-2">Sidebar Backgrounds</h5>
                    <ul class="theme-color m-0 p-0">
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-sidebarbg="skin1"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-sidebarbg="skin2"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-sidebarbg="skin3"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-sidebarbg="skin4"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-sidebarbg="skin5"></a>
                        </li>
                        <li class="theme-item list-inline-item me-1">
                            <a href="javascript:void(0)" class="theme-link rounded-circle d-block"
                                data-sidebarbg="skin6"></a>
                        </li>
                    </ul>
                    <!-- Logo BG -->
                </div>
            </div>
            <!-- End Tab 1 -->
            <!-- Tab 2 -->
            <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="pills-profile-tab">
                <h2 style="padding: 20px;">History</h2>
                <% for (h in history) {%>
                    <ul class="list-style-none mt-3">
                        <li>
                            <div class="message-center chat-scroll position-relative ps-container ps-theme-default"
                                data-ps-id="ced09f66-f199-fe45-8836-81540dc40ac6">
                                <a href="javascript:void(0)"
                                    class="message-item d-flex align-items-center border-bottom px-3 py-2"
                                    id="chat_user_1" data-user-id="1">
                                    <span class="user-img position-relative d-inline-block col-md-3"> <img
                                            src="assets/images/users/1.jpg" alt="user" class="rounded-circle w-100">
                                        <span class="profile-status rounded-circle online"></span>

                                    </span>
                                    <div class="w-75 d-inline-block v-middle ps-3">
                                        <h5 class="message-title mb-0 mt-1">
                                            <%= history[h].name_history %>
                                        </h5>
                                        <span class="fs-2 text-nowrap d-block text-muted text-truncate">
                                            <%= history[h].date_history%>
                                        </span>
                                        <% if(history[h].action_history==5){%>
                                            <span class="fs-2 text-nowrap d-block text-muted">
                                                <%= history[h].detail_history%>
                                                    <%= history[h].docname_history%>
                                            </span>
                                            <%}else{%>
                                                <span class="fs-2 text-nowrap d-block text-muted">
                                                    <%= history[h].detail_history%>
                                                </span>
                                                <%}%>
                                    </div>
                                </a>
                                <!-- Message -->
                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <%}%>
            </div>

            <div class="tab-pane fade" id="alerts" role="tabpanel" aria-labelledby="pills-alerts-tab">
                <h2 style="padding: 20px;">รายงานความคิดเห็น</h2>
                <% for (c in comment_policy) {%>
                    <ul class="list-style-none mt-3">
                        <li>
                            <div class="message-center chat-scroll position-relative ps-container ps-theme-default"
                                data-ps-id="ced09f66-f199-fe45-8836-81540dc40ac6">
                                <a href="javascript:void(0)"
                                    class="message-item d-flex align-items-center border-bottom px-3 py-2"
                                    id="chat_user_1" data-user-id="1">
                                    <span class="user-img position-relative d-inline-block col-md-3"> <img
                                            src="assets/images/users/1.jpg" alt="user" class="rounded-circle w-100">
                                        <span class="profile-status rounded-circle online"></span>

                                    </span>
                                    <div class="w-75 d-inline-block v-middle ps-3">
                                        <h4 class="message-title mb-0 mt-1">
                                            <% if(comment_policy[c].comment_status==0){%>
                                                <h5 class="message-title mb-0 mt-1" style="color: #ffc348;">
                                                    สถานะ : รอการตอบกลับ
                                                </h5>
                                                <%}else if(comment_policy[c].comment_status==1){%>
                                                    <h5 class="message-title mb-0 mt-1" style="color: #39c449;
                                                    ">
                                                        สถานะ : เห็นด้วย
                                                    </h5>
                                                    <%}else{%>
                                                        <h5 class="message-title mb-0 mt-1" style="color:#f62d51;">
                                                            สถานะ : ไม่เห็นด้วย
                                                        </h5>
                                                        <%}%>

                                        </h4>
                                        <span class="fs-2 text-nowrap d-block text-muted text-truncate">
                                            <%=comment_policy[c].comment_remark%>
                                        </span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <%}%>
            </div>
        </div>
    </div>
    <!-- End Tab 2 -->
</aside>
<!-- -------------------------------------------------------------- -->
<!-- All Jquery -->
<!-- -------------------------------------------------------------- -->
<script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/UI/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- apps -->
<script src="/UI/dist/js/app.min.js"></script>
<!-- box layout -->
<!-- <script>
    $(function () {
        "use strict";
        $("#main-wrapper").AdminSettings({
            Theme: false, // this can be true or false ( true means dark and false means light ),
            Layout: 'vertical',
            LogoBg: 'skin3', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
            NavbarBg: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
            SidebarType: 'mini-sidebar', // You can change it full / mini-sidebar / iconbar / overlay
            SidebarColor: 'skin3', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
            SidebarPosition: true, // it can be true /  ( true means Fixed and false means absolute )
            HeaderPosition: true, // it can be true / false ( true means Fixed and false means absolute )
            BoxedLayout: false, // it can be true / false ( true means Boxed and false means Fluid )
        });
    });
</script> -->
<script>
    $(function() {

        "use strict";
        var boxed_layout = <%-JSON.stringify(session.theme[0].boxed_layout)%>;
        var header_position = <%-JSON.stringify(session.theme[0].header_position)%>;
        var sidebar_position = <%-JSON.stringify(session.theme[0].sidebar_position)%>;

        var checkBoxedLayout;
        var checkHeaderPosition;
        var checkSidebarPosition;


        if (boxed_layout == '1') {
            checkBoxedLayout = true
        } else {
            checkBoxedLayout = false
        }

        if (header_position == '1') {
            checkHeaderPosition = true
        } else {
            checkHeaderPosition = false
        }

        if (sidebar_position == '1') {
            checkSidebarPosition = true
        } else {
            checkSidebarPosition = false
        }

        $("#main-wrapper").AdminSettings({

Theme: 'dark', // this can be true or false ( true means dark and false means light ),
Layout: 'vertical',
LogoBg: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
NavbarBg: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
SidebarType: 'full', // You can change it full / mini-sidebar / iconbar / overlay
SidebarColor: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
SidebarPosition: checkSidebarPosition, // it can be true /  ( true means Fixed and false means absolute )
HeaderPosition: checkHeaderPosition, // it can be true / false ( true means Fixed and false means absolute )
BoxedLayout: checkBoxedLayout
    // it can be true / false ( true means Boxed and false means Fluid )
});
    });
</script>
<!-- <script>
    var logobg_skin = <%-JSON.stringify(session.theme[0].logobg_skin)%>;
    var navbarbg_skin = <%-JSON.stringify(session.theme[0].navbarbg_skin)%>;
    var sidebarbg_skin = <%-JSON.stringify(session.theme[0].sidebarbg_skin)%>;

    $(function() {
        "use strict";
        //****************************
        /* Left header Theme Change function Start */
        //****************************
        function handlelogobg() {

            if (logobg_skin) {
                $('.topbar .top-navbar .navbar-header').attr("data-logobg", logobg_skin);
                $('.theme-color .theme-item .theme-link').on("click", function() {
                    var logobgskin = $(this).attr("data-logobg");
                    if (logobgskin == undefined) {
                        console.log(logobgskin);
                    } else {
                        var data = {};
                        data["logobg_skin"] = logobgskin;

                        $.ajax({
                            url: "/ajaxchecktheme",
                            type: "post",
                            data: data,
                            success: function(data) {
                                console.log(data);
                            }
                        })
                    }
                    $('.topbar .top-navbar .navbar-header').attr("data-logobg", logobgskin);
                });
            } else {
                console.log(logobg_skin);
                $('.theme-color .theme-item .theme-link').on("click", function() {
                    var logobgskin = $(this).attr("data-logobg");
                    if (logobgskin == undefined) {
                        console.log(logobgskin);
                    } else {
                        var data = {};
                        data["logobg_skin"] = logobgskin;

                        $.ajax({
                            url: "/ajaxchecktheme",
                            type: "post",
                            data: data,
                            success: function(data) {
                                console.log(data);
                            }
                        })
                    }
                    $('.topbar .top-navbar .navbar-header').attr("data-logobg", logobgskin);
                });
            }
        };
        handlelogobg();
        //****************************
        /* Top navbar Theme Change function Start */
        //****************************
        function handlenavbarbg() {
            if ($('#main-wrapper').attr('data-navbarbg') == 'skin6') {
                // do this
                $(".topbar .navbar").addClass('navbar-light');
                $(".topbar .navbar").removeClass('navbar-dark');
            } else {
                // do that

            }
            if (navbarbg_skin) {
                // if(){
                //     if (session.theme[0].theme_view == 1) {
                //     $(".topbar .navbar").addClass('navbar-light');
                //     $(".topbar .navbar").removeClass('navbar-dark');
                // } else {
                //     $(".topbar .navbar").removeClass('navbar-light');
                //     $(".topbar .navbar").addClass('navbar-dark');
                // }

                // }
                //     else{






                $('#main-wrapper').attr("data-navbarbg", navbarbg_skin);
                $('.topbar .navbar-collapse').attr("data-navbarbg", navbarbg_skin);

                $('.theme-color .theme-item .theme-link').on("click", function() {
                    var navbarbgskin = $(this).attr("data-navbarbg");
                    console.log('navbarbgskin', navbarbgskin);
                    if (navbarbgskin == undefined) {
                        console.log(navbarbgskin);
                    } else {
                        var data = {};
                        data["navbarbg_skin"] = navbarbgskin;

                        $.ajax({
                            url: "/ajaxchecktheme",
                            type: "post",
                            data: data,
                            success: function(data) {
                                console.log(data);
                            }
                        })
                    }

                    $('#main-wrapper').attr("data-navbarbg", navbarbgskin);
                    $('.topbar .navbar-collapse').attr("data-navbarbg", navbarbgskin);

                    if ($('#main-wrapper').attr('data-navbarbg') == 'skin6') {
                        // do this
                        $(".topbar .navbar").addClass('navbar-light');
                        $(".topbar .navbar").removeClass('navbar-dark');
                    } else {
                        // do that
                        $(".topbar .navbar").removeClass('navbar-light');
                        $(".topbar .navbar").addClass('navbar-dark');
                    }
                });

            } else {

                $('.theme-color .theme-item .theme-link').on("click", function() {
                    var navbarbgskin = $(this).attr("data-navbarbg");
                    console.log('navbarbgskin', navbarbgskin);
                    if (navbarbgskin == undefined) {
                        console.log(navbarbgskin);
                    } else {
                        var data = {};
                        data["navbarbg_skin"] = navbarbgskin;

                        $.ajax({
                            url: "/ajaxchecktheme",
                            type: "post",
                            data: data,
                            success: function(data) {
                                console.log(data);
                            }
                        })
                    }
                    $('#main-wrapper').attr("data-navbarbg", navbarbgskin);
                    $('.topbar .navbar-collapse').attr("data-navbarbg", navbarbgskin);
                    if ($('#main-wrapper').attr('data-navbarbg') == 'skin6') {
                        // do this
                        $(".topbar .navbar").addClass('navbar-light');
                        $(".topbar .navbar").removeClass('navbar-dark');
                    } else {
                        // do that
                        $(".topbar .navbar").removeClass('navbar-light');
                        $(".topbar .navbar").addClass('navbar-dark');
                    }
                });
            }
        };

        handlenavbarbg();

        //****************************
        // ManageSidebar Type
        //****************************
        function handlesidebartype() {

        };
        handlesidebartype();


        //****************************
        /* Manage sidebar bg color */
        //****************************
        function handlesidebarbg() {
            if (sidebarbg_skin) {
                $('.left-sidebar').attr("data-sidebarbg", sidebarbg_skin);
                $('.theme-color .theme-item .theme-link').on("click", function() {

                    var sidebarbgskin = $(this).attr("data-sidebarbg");
                    if (sidebarbgskin == undefined) {
                        console.log(sidebarbgskin);
                    } else {
                        var data = {};
                        data["sidebarbg_skin"] = sidebarbgskin;

                        $.ajax({
                            url: "/ajaxchecktheme",
                            type: "post",
                            data: data,
                            success: function(data) {
                                console.log(data);
                            }
                        })
                    }
                    $('.left-sidebar').attr("data-sidebarbg", sidebarbgskin);
                });

            } else {

                $('.theme-color .theme-item .theme-link').on("click", function() {

                    var sidebarbgskin = $(this).attr("data-sidebarbg");
                    if (sidebarbgskin == undefined) {
                        console.log(sidebarbgskin);
                    } else {
                        var data = {};
                        data["sidebarbg_skin"] = sidebarbgskin;

                        $.ajax({
                            url: "/ajaxchecktheme",
                            type: "post",
                            data: data,
                            success: function(data) {
                                console.log(data);
                            }
                        })
                    }
                    $('.left-sidebar').attr("data-sidebarbg", sidebarbgskin);
                });
            }
        };
        handlesidebarbg();
        //****************************
        /* sidebar position */
        //****************************
        function handlesidebarposition() {
            $('#sidebar-position').change(function() {
                if ((document.getElementById('sidebar-position').checked) == true) {
                    $('#main-wrapper').attr("data-sidebar-position", 'fixed');
                    $('.topbar .top-navbar .navbar-header').attr("data-navheader", 'fixed');
                } else {
                    $('#main-wrapper').attr("data-sidebar-position", 'absolute');
                    $('.topbar .top-navbar .navbar-header').attr("data-navheader", 'relative');
                }
                var ckeck = this.checked
                var data = {};
                if (ckeck == true) {
                    data["sidebar_position"] = 1;
                } else {
                    data["sidebar_position"] = 0;
                }

                $.ajax({
                    url: "/ajaxchecktheme",
                    type: "post",
                    data: data,
                    success: function(data) {
                        console.log(data);
                    }
                });
                if ($(this).is(":checked")) {
                    $('#collapssidebar').attr("data-sidebartype", "mini-sidebar");
                    $('#main-wrapper').attr("data-sidebar-position", 'fixed');
                    $('.topbar .top-navbar .navbar-header').attr("data-navheader", 'fixed');
                } else {
                    $('#main-wrapper').attr("data-sidebar-position", 'absolute');
                    $('.topbar .top-navbar .navbar-header').attr("data-navheader", 'relative');
                }
            });

        };
        handlesidebarposition();
        //****************************
        /* Header position */
        //****************************
        function handleheaderposition() {
            $('#header-position').change(function() {
                if ((document.getElementById('header-position').checked) == true) {
                    $('#main-wrapper').attr("data-header-position", 'fixed');
                } else {
                    $('#main-wrapper').attr("data-header-position", 'relative');
                }
                var ckeck = this.checked
                console.log(ckeck);
                var data = {};
                if (ckeck == true) {
                    data["header_position"] = 1;
                } else {
                    data["header_position"] = 0;
                }

                $.ajax({
                    url: "/ajaxchecktheme",
                    type: "post",
                    data: data,
                    success: function(data) {
                        console.log(data);
                    }
                });
                if ($(this).is(":checked")) {

                    $('#main-wrapper').attr("data-header-position", 'fixed');
                } else {
                    $('#main-wrapper').attr("data-header-position", 'relative');
                }
            });
        };
        handleheaderposition();
        //****************************
        /* sidebar position */
        //****************************
        function handleboxedlayout() {

            if ((document.getElementById('boxed-layout').checked) == true) {
                $('#main-wrapper').attr("data-boxed-layout", 'boxed');
            } else {
                $('#main-wrapper').attr("data-boxed-layout", 'full');
            }
            $('#boxed-layout').change(function() {
                var ckeck = this.checked
                console.log(ckeck);
                var data = {};
                if (ckeck == true) {
                    data["boxed_layout"] = 1;
                } else {
                    data["boxed_layout"] = 0;
                }

                $.ajax({
                    url: "/ajaxchecktheme",
                    type: "post",
                    data: data,
                    success: function(data) {
                        console.log(data);
                    }
                });
                if ($(this).is(":checked")) {
                    $('#main-wrapper').attr("data-boxed-layout", 'boxed');
                } else {
                    $('#main-wrapper').attr("data-boxed-layout", 'full');
                }
            });

        };
        handleboxedlayout();
        //****************************
        /* Header position */
        //****************************
        function handlethemeview() {
            console.log(document.getElementById('theme-view').checked);

            if ((document.getElementById('theme-view').checked) == true) {
                $('body').attr("data-theme", 'dark')
            } else {
                $('body').attr("data-theme", 'light');

            }
            $('#theme-view').change(function() {
                var ckeck = this.checked
                console.log(ckeck);
                var data = {};
                if (ckeck == true) {
                    data["theme_view"] = 1;
                } else {
                    data["theme_view"] = 0;
                }

                $.ajax({
                    url: "/ajaxchecktheme",
                    type: "post",
                    data: data,
                    success: function(data) {
                        console.log(data);
                    }
                });
                if ($(this).is(":checked")) {
                    $('body').attr("data-theme", 'dark');
                } else {
                    $('body').attr("data-theme", 'light');
                }

            });
        };
        handlethemeview();
    });
</script> -->

<script src="/UI/dist/js/app-style-switcher.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/UI/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/UI/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/UI/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/UI/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/UI/dist/js/feather.min.js"></script>
<script src="/UI/dist/js/custom.min.js"></script>

<script src="/UI/assets/libs/tablesaw/dist/tablesaw.jquery.js"></script>
<script src="/UI/assets/libs/tablesaw/dist/tablesaw-init.js"></script>
<script src="/UI/assets/extra-libs/prism/prism.js"></script>

<script src="/UI/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>

<script src="/UI/assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="/UI/dist/js/pages/echarts/pie-doughnut/pie-doghnut.js"></script>

<script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/UI/assets/libs/chart.js/dist/Chart.min.js"></script>

<script src="/UI/assets/libs/d3/dist/d3.min.js"></script>

<script src="/UI/assets/libs/c3/c3.min.js"></script>
<script src="/UI/dist/js/pages/c3-chart/bar-pie/c3-pie.js"></script>


<script src="/UI/assets/extra-libs/summernote/summernote-lite.min.js"></script>

<!-- <script src="/UI/dist/js/app.init.mini-sidebar.js"></script> -->
<script src="/UI/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/UI/dist/js/pages/dashboards/dashboard2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.41.0/mode/xml/xml.min.js"></script>
<script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
<script src="/UI/dist/js/pages/datatable/datatable-basic.init.js"></script>
<script src="/UI/dist/js/pages/notes/notes.js"></script>
<script src="/UI/dist/js/pages/email/email.js"></script>
<script src="/UI/assets/libs/summernote/dist/summernote-bs4.min.js"></script>
<script src="/UI/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script>
    var mini = true;

    function toggleSidebar() {
        if (mini) {
            this.mini = false;
            $('#export_icon').css('display', 'none')
            $('#export_hidden').css('margin-left', '15%')
        } else {
            this.mini = true;
            $('#export_icon').css('display', '')
        }
    }
    /************************************/
    //default editor
    /************************************/
    $('#myEditor1').summernote({
        fontSizes: ['8', '9', '10', '11', '12', '13', '14', '15', '16', '18', '20', '22', '24'],
        toolbar: [
            ['style', ['style']],
            ['fontname', ['fontname']],
            ['fontsize', ['fontsize']],
            ['font', ['bold', 'Sarabun', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['paragraph', 'ul', 'ol']],
            ['height', ['height']],
            ['insert', ['link', 'picture', 'hr']],
            // ['table', ['table']],
            ['view', ['undo', 'redo']],
        ],
        fontNames: ['Sarabun', 'Sans Serif', 'Arial', 'Arial Black', 'Tahoma'],
        fontNamesIgnoreCheck: ['Sarabun', 'Sans Serif', 'Arial', 'Arial Black', 'Tahoma'],
        focus: false,
        width: 600,
        height: 842, // set minimum height of editor
        callbacks: {
            onKeyup: function (e) {
                $("#setcode").html($('#myEditor1').val());
                let text = document.getElementById("setcode").innerHTML;
                const code = document.getElementById("code").value
                const code1 = document.getElementById('code1').value
                const code_name = document.getElementById('code_name').value;

                let sort_code = code.split(',')
                let sort_code1 = code1.split(',')
                let sort_code2 = code_name.split(',')
                let obj = []
                for (i in sort_code1) {
                    obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i], "data_name": sort_code2[i] })
                }
                for (j in obj) {
                    var x = obj[j].data_code
                    let position = text.search(x);
                    if (position > -1) {
                        text = text.replaceAll(obj[j].data_code, obj[j].data_name)
                        document.getElementById("setcode").innerHTML = text
                    }
                }
                summernote_replace_tag();
                summernote_replace_code();
            },
            onInit: function (e) {
                $(".note-editable").on('click', function (e) {
                    $("#setcode").html($('#myEditor1').val());
                let text = document.getElementById("setcode").innerHTML;
                const code = document.getElementById("code").value
                const code1 = document.getElementById('code1').value
                const code_name = document.getElementById('code_name').value;

                let sort_code = code.split(',')
                let sort_code1 = code1.split(',')
                let sort_code2 = code_name.split(',')
                let obj = []
                for (i in sort_code1) {
                    obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i], "data_name": sort_code2[i] })
                }
                for (j in obj) {
                    var x = obj[j].data_code
                    let position = text.search(x);
                    if (position > -1) {
                        text = text.replaceAll(obj[j].data_code, obj[j].data_name)
                        document.getElementById("setcode").innerHTML = text
                    }
                }
                summernote_replace_tag();
                summernote_replace_code();
                });
            }
        }
        
    });

    function summernote_replace_tag() {
            $("#setcode").html($('#myEditor1').val());
            let text = document.getElementById("setcode").innerHTML;
            const site_name = document.getElementById("site_name").value;
            const short_name = document.getElementById('short_name').value;
            const image = document.getElementById('image').value;
            const email_company = document.getElementById("email_company").value;
            const phone_company = document.getElementById('phone_company').value;
            const address_company = document.getElementById('address_company').value;
            const number_company = 'number';

            let page_content_replace_company = [];
            let company_replace =
                    [
                        "@@company_name",
                        "@@short_company_name",
                        "@@logo_company",
                        "@@email_company",
                        "@@phone_company",
                        "@@address_company",
                        "@@number_company",
                    ];
                let regex =
                    new RegExp(
                        company_replace[0],
                        "ig"
                    );
                let regex_short =
                    new RegExp(
                        company_replace[1],
                        "ig"
                    );
                let regex_logo =
                    new RegExp(
                        company_replace[2],
                        "ig"
                    );
                    let regex_email_company =
                    new RegExp(
                        company_replace[3],
                        "ig"
                    );
                let regex_phone_company =
                    new RegExp(
                        company_replace[4],
                        "ig"
                    );
                let regex_address_company =
                    new RegExp(
                        company_replace[5],
                        "ig"
                    );
                    let regex_number_company =
                    new RegExp(
                        company_replace[6],
                        "ig"
                    );
                text = text.replace(
                    regex,site_name
                );
                text = text.replace(
                    regex_short,short_name
                );
                text = text.replace(
                    regex_logo,image
                );
                text = text.replace(
                    regex_email_company,email_company
                );
                text = text.replace(
                    regex_phone_company,phone_company
                );
                text = text.replace(
                    regex_address_company,address_company
                );
                text = text.replace(
                    regex_number_company,number_company
                );
                page_content_replace_company.push(
                    text
                );
                // console.log(page_content_replace_company);
                document.getElementById("setcode").innerHTML = page_content_replace_company
        }

                function summernote_replace_code() {
            let text = document.getElementById("setcode").innerHTML;
            const code = document.getElementById("code").value
            const code1 = document.getElementById('code1').value
            const code_name = document.getElementById('code_name').value;

            let sort_code = code.split(',')
            let sort_code1 = code1.split(',')
            let sort_code2 = code_name.split(',')
            let obj = []
            for (i in sort_code1) {
                obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i], "data_name": sort_code2[i] })
            }
            for (j in obj) {
                var x = obj[j].data_code
                let position = text.search(x);
                if (position > -1) {
                    text = text.replaceAll(obj[j].data_code, obj[j].data_name)
                    document.getElementById("setcode").innerHTML = text
                }
            }
        }
    /************************************/
    //inline-editor
    /************************************/
    $('.inline-editor').summernote({
        airMode: true
    });

    /************************************/
    //edit and save mode
    /************************************/
    window.edit = function () {
        $(".click2edit").summernote()
    },
        window.save = function () {
            $(".click2edit").summernote('destroy');
        }

    var edit = function () {
        $('.click2edit').summernote({
            focus: true
        });
    };

    var save = function () {
        var markup = $('.click2edit').summernote('code');
        $('.click2edit').summernote('destroy');
    };

    /************************************/
    //airmode editor
    /************************************/
    $('.airmode-summer').summernote({
        airMode: true
    });

    $('.summernote').summernote('fontName', 'THSarabunNew');
    $('.summernote').summernote('fontSize', '16');


</script>

<script>
    var userid = '<% -JSON.stringify(session.userid) %>';
    $("#sa-chain5").click(function () {
        Swal.mixin({
            input: 'text',
            confirmButtonText: 'ยืนยัน',
            showCancelButton: true,
            cancelButtonText: 'ยกเลิก',

        }).queue([{
            title: 'การสร้าง QR Code สำหรับ Google Authenticator',
            text: 'กรุณากรอกรหัสผ่าน'
        }]).then((result) => {

            if (result.value) {
                var request1 = function () {
                    result["userid"] = userid;
                    $.ajax({
                        url: "http://119.81.44.155:8081/qr",
                        type: "post",
                        data: result,
                        success: function (data) {
                            console.log(data);
                            if (data.data.length == 0) {
                                alert("ใส่รหัสผ่านผิด")
                                setInterval('location.reload()', 200);
                            } else {
                                //alert("สร้าง QR Code เรียบร้อย กรุณากดอีกครั้งเพื่อแสดง")
                                Swal.fire({
                                    title: 'QR Code สำหรับ Google Authenticator',
                                    html: '<br>  <img src="' + data.data[0].image +
                                        '" alt="">'
                                })
                            }

                        }
                    });
                }
                request1();
            }
        })
    });
</script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {

        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        console.log(event.preventDefault());
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>

</html>