<%- include ("../_header") %>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">เเก้ไขเรื่องร้องเรียนการละเมิด</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/appeal/infraction/list">รับเรื่องร้องเรียน
                                    การละเมิด</a></li>
                            <li class="breadcrumb-item active" aria-current="page">เเก้ไขเรื่องร้องเรียนการละเมิด</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="dropdown me-2">
                        <a href="/appeal/infraction/list" class="btn btn-secondary">ย้อนกลับ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0">เเก้ไขเรื่องร้องเรียนการละเมิด</h4>
            </div>
            <div class="card-body">
                <form action="/appeal/infraction/edit/save" method="post">
                    <input type="hidden" name="id"
                        value="<%=infraction[0].id_infraction%>,<%=infraction[0].combined_id%>" class=" form-control">

                    <div class="row mb-3 align-items-center d-none d-md-flex ">
                        <div class="col-md-3" align="left">
                            <h5 for="recipient-name" class="control-label">เลขที่ร้องเรียน</h5>
                        </div>
                        <div class="col-md-3">
                            <%=infraction[0].infraction_complaint_number%>
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center d-none d-md-flex ">
                        <div class="col-md-3" align="left">
                            <h5 for="recipient-name" class="control-label">วันที่ร้องเรียน</h5>
                        </div>
                        <div class="col-md-3">
                            <input type="date" name="infraction_date" id="date" class="form-control"
                                value="<%=infraction[0].day_complaint%>" style="width: auto;">
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center d-none d-md-flex">
                        <div class="col-md-3" align="left">
                            <h5 for="message-text" class="control-label">ช่องทางการรับเรื่องร้องเรียน</h5>
                        </div>
                        <div class="col-md-7">
                            <input type="text" name="infraction_email" class="form-control" required
                                value="<%=infraction[0].infraction_email%>">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-3 align-items-center d-none d-md-flex justify-content-start">
                            <h5 class="control-label">ชื่อ-นามสกุล ผู้แจ้งเรื่องการละเมิด</h5>
                        </div>
                        <div class="col-md-7 align-items-center d-none d-md-flex   justify-content-between "
                            style="column-gap: 20px;">
                            <div class="col-7 d-flex" style="column-gap: 10px;">
                                <select class="select2 form-control custom-select" style="width: 40%; " required
                                    name="prefix_name">
                                    <option>ค้นหา...</option>
                                    <% for (var i in prefix) {%>
                                        <%if (infraction[0].prefix_id==prefix[i].prefix_id) {%>
                                            <option selected
                                                value="<%=prefix[i].prefix_name%>,<%=prefix[i].prefix_id%>">
                                                <%=prefix[i].prefix_name%>
                                            </option>
                                            <%}else {%>
                                                <option value="<%=prefix[i].prefix_name%>,<%=prefix[i].prefix_id%>">
                                                    <%=prefix[i].prefix_name%>
                                                </option>
                                                <%}%>
                                                    <%}%>
                                </select>
                                <input type="text" class="form-control" aria-label="firstname"
                                    value="<%=infraction[0].infraction_firstname%>" name="infraction_firstname" required
                                    placeholder="ชื่อ">
                            </div>
                            <div class="col">
                                <input type="text" value="<%=infraction[0].infraction_lastname%>"
                                    name="infraction_lastname" placeholder="นามสกุล" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row  align-items-center d-none d-md-flex">
                        <div class="col-md-3" align="left">
                            <h5 class="control-label">ที่อยู่/เบอร์โทร ข้อมูลติดต่อกลับ</h5>
                        </div>
                        <div class="col-md-7">
                            <input type="text" value="<%=infraction[0].infraction_address%>" name="infraction_address"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="mb-3 row  align-items-center d-none d-md-flex">
                        <div class="col-md-3" align="left">
                            <h5>ช่องทางติดต่อกลับ</h5>
                        </div>
                        <div class="col-md-7">
                            <input type="text" value="<%=infraction[0].infraction_contact%>" name="infraction_contact"
                                class="form-control" required>
                        </div>
                    </div>
                    <hr>
                    <div class="mt-2 row">
                        <div class="col-md-3" align="left">
                            <h5>กิจกรรมการประมวลผล <span style="color: red;">*</span></h5>
                        </div>
                        <div class="col-md-7 align-items-center d-none d-md-flex   justify-content-between "
                            style="column-gap: 20px;">
                            <div class="col d-flex" style="column-gap: 10px;">
                                <select class="select2 form-control custom-select" style="width: 100%;" required
                                    name="classify_id">
                                    <option value="">ค้นหา...</option>
                                    <% for (var i in classify) {%>
                                        <%if (infraction[0].classify_id==classify[i].classify_id) {%>
                                            <option selected value="<%=classify[i].classify_id%>">
                                                <%=classify[i].classify_name%>
                                            </option>
                                            <%}else {%>
                                                <option value="<%=classify[i].classify_id%>">
                                                    <%=classify[i].classify_name%>
                                                </option>
                                                <%}%>

                                                    <%}%>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="mb-3 row  align-items-center d-none d-md-flex">
                        <div class="col-md-3">
                            <h5>ข้อมูลที่ลูกค้าแจ้งละเมิด</h5>
                        </div>
                        <div class="col-md-7">
                            <input type="text" value="<%=infraction[0].infraction_infringement_customer%>"
                                name="infraction_infringement_customer" class="form-control" required>
                        </div>
                    </div>
                    <div class="mb-3 row  align-items-center d-none d-md-flex">
                        <div class="col-md-3">
                            <h5>ประเมินความน่าเชื่อถือของข้อมูล</h5>
                        </div>
                        <div class="col-md-4 align-items-center  d-md-flex justify-content-between">
                            <%if (infraction[0].infraction_assess_credibility==1) {%>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input success check-outline outline-success" type="radio"
                                        id="secondary-outline-radio" name="infraction_assess_credibility" value="1"
                                        checked="">
                                    <label class="form-check-label" for="secondary-outline-radio">น่าเชื่อถือ </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input danger check-outline outline-danger" type="radio"
                                        id="secondary2-outline-radio" name="infraction_assess_credibility" value="2">
                                    <label class="form-check-label"
                                        for="secondary2-outline-radio">ไม่น่าเชื่อถือ</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input secondary check-outline outline-secondary"
                                        type="radio" id="secondary3-outline-radio" name="infraction_assess_credibility"
                                        value="0">
                                    <label class="form-check-label" for="secondary3-outline-radio">ไม่แน่ใจ</label>
                                </div>
                                <%}else if (infraction[0].infraction_assess_credibility==2) {%>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input success check-outline outline-success"
                                            type="radio" id="secondary-outline-radio"
                                            name="infraction_assess_credibility" value="1">
                                        <label class="form-check-label" for="secondary-outline-radio">น่าเชื่อถือ
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input danger check-outline outline-danger" type="radio"
                                            id="secondary2-outline-radio" name="infraction_assess_credibility"
                                            checked="" value="2">
                                        <label class="form-check-label"
                                            for="secondary2-outline-radio">ไม่น่าเชื่อถือ</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input secondary check-outline outline-secondary"
                                            type="radio" id="secondary3-outline-radio"
                                            name="infraction_assess_credibility" value="0">
                                        <label class="form-check-label" for="secondary3-outline-radio">ไม่แน่ใจ</label>
                                    </div>
                                    <%}else if (infraction[0].infraction_assess_credibility==0) {%>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input success check-outline outline-success"
                                                type="radio" id="secondary-outline-radio"
                                                name="infraction_assess_credibility" value="1" checked="">
                                            <label class="form-check-label" for="secondary-outline-radio">น่าเชื่อถือ
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input danger check-outline outline-danger"
                                                type="radio" id="secondary2-outline-radio"
                                                name="infraction_assess_credibility" value="2">
                                            <label class="form-check-label"
                                                for="secondary2-outline-radio">ไม่น่าเชื่อถือ</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input secondary check-outline outline-secondary"
                                                type="radio" id="secondary3-outline-radio" checked=""
                                                name="infraction_assess_credibility" value="0">
                                            <label class="form-check-label"
                                                for="secondary3-outline-radio">ไม่แน่ใจ</label>
                                        </div>
                                        <%}%>
                                            <label for="">
                                                อธิบาย
                                            </label>
                        </div>
                        <div class="col-md-5 align-items-center  d-md-flex">
                            <input type="text" value="<%=infraction[0].infraction_assess_credibility_explain%>"
                                name="infraction_assess_credibility_explain" class="form-control">
                        </div>
                    </div>

                    <div class="mb-3 row  align-items-center d-none d-md-flex">
                        <div class="col-md-3">
                            <h5>เป็นการละเมิดหรือไม่</h5>
                        </div>
                        <div class="col-md-5 align-items-center  d-md-flex ">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input success check-outline outline-success" type="radio"
                                    onchange="show_infraction(1)" name="infraction_infringement"
                                    id="primary-outline-radio" value="1"
                                    <%if(infraction[0].infraction_infringement==1){%>checked<%}%> >
                                    <label class="form-check-label" for="primary-outline-radio">ใช่</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input danger check-outline outline-danger" type="radio"
                                    onchange="show_infraction(2)" name="infraction_infringement"
                                    id="primary2-outline-radio" value="2"
                                    <%if(infraction[0].infraction_infringement==2){%>checked<%}%>>
                                    <label class="form-check-label" for="primary2-outline-radio">ไม่ใช่</label>
                            </div>
                        </div>
                    </div>
                    <div id="infraction" class="mb-2 row" <%if(infraction[0].infraction_infringement==2){%>
                        style="display: none;" <%}%>>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>(ถ้าละเมิด) ประเภทของการการละเมิด ประเมินความเสี่ยง</h5>
                                        <select class="select2 form-control custom-select" style="width: 100%;" required
                                            id="infractiontype_type_violation_id" multiple="multiple"
                                            name="infractiontype_type_violation_id">
                                            <%for (let i=0;i<infractiontype_violation.length;i++){%>
                                                <%if (infraction[0].infraction_infringement==1) {%>
                                                    <option value="<%=infractiontype_violation[i].infractiontype_id%>"
                                                        <%for(let j=0;j<violation.length;j++){%>
                                                        <%if(violation[j]==infractiontype_violation[i].infractiontype_id){%>
                                                            selected
                                                            <%}%>
                                                                <%}%>
                                                                    >
                                                                    <%=infractiontype_violation[i].infractiontype_name%>
                                                    </option>
                                                    <%}else {%>
                                                        <option
                                                            value="<%=infractiontype_violation[i].infractiontype_id%>">
                                                            <%=infractiontype_violation[i].infractiontype_name%>
                                                        </option>
                                                        <%}%>
                                                            <%}%>

                                        </select>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <label for="">ชื่อการละเมิด</label>
                                    <input type="text" name="combined_infringement_name" class="form-control" required
                                        value="<%=infraction[0].combined_infringement_name%>">
                                </div>
                                <hr>
                                <div class="row mt-2">
                                    <div class="mb-2">
                                        <label>
                                            (1) ลักษณะและประเภทของการละเมิดข้อมูลส่วนบุคคล
                                        </label>
                                    </div>
                                    <div class="col-md-12 d-flex">
                                        <label class="me-4">อธิบาย</label>
                                        <textarea name="personal_data_breach_explain" rows="3"
                                            class="form-control"><%=infraction[0].personal_data_breach_explain%></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-2">
                                    <div class="mb-2">
                                        <label>
                                            (2) ลักษณะหรือประเภทของข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการละเมิด
                                        </label>
                                    </div>
                                    <div class="col-md-9 mb-2">
                                        <select class="select2 form-control custom-select" multiple="multiple" required
                                            style="width: 100%;" name="data_type_id" id="data_type_id">
                                            <%for (let i=0;i<data_type.length;i++){%>
                                                <%if (infraction[0].infraction_infringement==1) {%>
                                                    <option value="<%=data_type[i].data_type_id%>" <%for(let
                                                        j=0;j<data_type_id.length;j++){%>
                                                        <%if(data_type_id[j]==data_type[i].data_type_id){%>
                                                            selected
                                                            <%}%>
                                                                <%}%>
                                                                    >
                                                                    <%=data_type[i].data_type_name%>
                                                    </option>
                                                    <%}else {%>
                                                        <option value="<%=data_type[i].data_type_id%>">
                                                            <%=data_type[i].data_type_name%>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                        </select>
                                    </div>
                                    <div class="col-md-12 d-flex">
                                        <label class="me-4">อธิบาย</label>
                                        <textarea name="data_type_explain" rows="3"
                                            class="form-control"><%=infraction[0].data_type_explain%></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-2">
                                    <div class="mb-2">
                                        <label>
                                            (3) ปริมาณของข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการละเมิด/จำนวนรายการ
                                            (records)
                                        </label>
                                    </div>
                                    <div class="d-flex">
                                        <label class="me-4">อธิบาย</label>
                                        <textarea name="personal_information_records_explain" rows="3"
                                            class="form-control"><%=infraction[0].personal_information_records_explain%></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-2">
                                    <div class="mb-2">
                                        <label>
                                            (4) ลักษณะประเภทหรือสถานะของเจ้าของข้อมูลส่วนบุคคลที่ได้รับผลกระทบ
                                        </label>
                                    </div>
                                    <div class="col-md-9 mb-2">
                                        <select class="select2 form-control custom-select" multiple="multiple"
                                            style="width: 100%;" name="infractiontype_effect_id" required
                                            id="infractiontype_effect_id">
                                            <%for (let i=0;i<infractiontype_effect.length;i++){%>
                                                <%if (infraction[0].infraction_infringement==1) {%>
                                                    <option value="<%=infractiontype_effect[i].infractiontype_id%>"
                                                        <%for(let j=0;j<effect.length;j++){%>
                                                        <%if(effect[j]==infractiontype_effect[i].infractiontype_id){%>
                                                            selected
                                                            <%}%>
                                                                <%}%>
                                                                    >
                                                                    <%=infractiontype_effect[i].infractiontype_name%>
                                                    </option>
                                                    <%}else {%>
                                                        <option value="<%=infractiontype_effect[i].infractiontype_id%>">
                                                            <%=infractiontype_effect[i].infractiontype_name%>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                        </select>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <label class="me-4">อธิบาย</label>
                                        <textarea name="infractiontype_effect_id_explain" rows="3"
                                            class="form-control"><%=infraction[0].infractiontype_effect_id_explain%></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-2">
                                    <div class="mb-2">
                                        <label>
                                            (5) ความร้ายแรงของผลกระทบและความเสียหายที่เกิดขึ้น
                                        </label>
                                    </div>
                                    <label>
                                        (5.1)ผลกระทบและความเสียหายที่เกิดขึ้นหรืออาจเกิดขึ้นกับเจ้าของข้อมูล
                                    </label>
                                    <div class="d-flex mt-1">
                                        <label class="me-4">อธิบาย</label>
                                        <textarea name="severity_impact_explain" rows="3"
                                            class="form-control"><%=infraction[0].severity_impact_explain%></textarea>
                                    </div>
                                    <label>
                                        (5.2) กระทบต่อประสิทธิผลของมาตรการที่ผู้ควบคุมข้อมูลส่วนบุคคล
                                    </label>
                                    <div class="col-md-9 d-flex mt-1">
                                        <select class="select2 form-control custom-select" style="width: 100%;" required
                                            multiple="multiple" id="infractiontype_effectiveness_id"
                                            name="infractiontype_effectiveness_id">
                                            <%for (let i=0;i<infractiontype_effectiveness.length;i++){%>
                                                <%if (infraction[0].infraction_infringement==1) {%>
                                                    <option
                                                        value="<%=infractiontype_effectiveness[i].infractiontype_id%>"
                                                        <%for(let j=0;j<effectiveness.length;j++){%>
                                                        <%if(effectiveness[j]==infractiontype_effectiveness[i].infractiontype_id){%>
                                                            selected
                                                            <%}%>
                                                                <%}%>
                                                                    >
                                                                    <%=infractiontype_effectiveness[i].infractiontype_name%>
                                                    </option>
                                                    <%}else {%>
                                                        <option
                                                            value="<%=infractiontype_effectiveness[i].infractiontype_id%>">
                                                            <%=infractiontype_effectiveness[i].infractiontype_name%>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                        </select>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <label class="me-4">อธิบาย</label>
                                        <textarea name="infractiontype_effectiveness_id_explain" rows="3"
                                            class="form-control"><%=infraction[0].infractiontype_effectiveness_id_explain%></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-2">
                                    <div class="mb-2">
                                        <label>
                                            (5.3) การเยี่ยวยาหรือการบรรเทาผลกระทบที่เกิดขึ้นต่อเจ้าของข้อมูล
                                        </label>
                                    </div>
                                    <div class="d-flex mt-2">
                                        <label class="me-4">อธิบาย</label>
                                        <textarea name="infractiontype_healing_explain" rows="3"
                                            class="form-control"><%=infraction[0].infractiontype_healing_explain%></textarea>
                                    </div>
                                </div>
                                <hr>

                                <div class="row mt-2">
                                    <div class="col-md-12 mb-2">
                                        <label>
                                            (6)
                                            ผลกระทบในวงกว้างต่อธุรกิจหรือการดำเนินการหรือต่อสาธารณะจากเหตุการละเมิด
                                        </label>
                                    </div>
                                    <div class="col-md-12 d-flex">
                                        <label class="me-4">อธิบาย</label>
                                        <textarea name="violation_action_explain" rows="3"
                                            class="form-control"><%=infraction[0].violation_action_explain%></textarea>
                                    </div>
                                </div>
                                <hr>

                                <div class="row mt-2">
                                    <div class="col-md-12 mb-2">
                                        <label>
                                            (7) ลักษณะของระบบการจัดเก็บข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการละเมิด
                                            และมาตรการ รักษา
                                            ความมั่นคงปลอดภัยที่เกี่ยวข้องของผู้ควบคุมข้อมูลส่วนบุคคล
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="mb-1">
                                            (7.1) มาตรการรักษาความมั่นคงปลอดภัยโดยทั่วไป (General Measures)
                                        </label>
                                        <select class="select2 form-control custom-select" style="width: 100%;" required
                                            name="measures_id" multiple="multiple" id="measures_id">
                                            <%for (let i=0;i<measures.length;i++){%>
                                                <%if (infraction[0].infraction_infringement==1) {%>
                                                    <option value="<%=measures[i].measures_id%>" <%for(let
                                                        j=0;j<measures_id.length;j++){%>
                                                        <%if(measures_id[j]==measures[i].measures_id){%>
                                                            selected
                                                            <%}%>
                                                                <%}%>
                                                                    >
                                                                    <%=measures[i].measures_section_name%>
                                                    </option>
                                                    <%}else {%>
                                                        <option value="<%=measures[i].measures_id%>">
                                                            <%=measures[i].measures_section_name%>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                        </select>
                                        <label class="mb-1">
                                            (7.2) มาตราการต้องสามารถระบุความเสี่ยงที่สำคัญที่อาจจะเกิด
                                            (Risk-based
                                            Approach)
                                        </label>
                                        <select class="select2 form-control custom-select" style="width: 100%;" required
                                            name="approach_id" multiple="multiple" id="approach_id">
                                            <optgroup label="Information assets">
                                                <%for (let i=0;i<approach.length;i++){%>
                                                    <%if (infraction[0].infraction_infringement==1) {%>
                                                        <%if (approach[i].approach_heading_risk_based==1) {%>
                                                            <option value="<%=approach[i].approach_id%>" <%for(let
                                                                j=0;j<approach_id.length;j++){%>
                                                                <%if(approach_id[j]==approach[i].approach_id){%>
                                                                    selected
                                                                    <%}%>
                                                                        <%}%>
                                                                            >
                                                                            <%=approach[i].measures_section_name%>
                                                            </option>
                                                            <%}%>
                                                                <%}else {%>
                                                                    <option value="<%=approach[i].approach_id%>">
                                                                        <%=approach[i].measures_section_name%>
                                                                    </option>
                                                                    <%}%>
                                                                        <%}%>
                                            </optgroup>

                                            <optgroup label="Network and Equipment">
                                                <%for (let i=0;i<approach.length;i++){%>
                                                    <%if (infraction[0].infraction_infringement==1) {%>
                                                        <%if (approach[i].approach_heading_risk_based==2) {%>
                                                            <option value="<%=approach[i].approach_id%>" <%for(let
                                                                j=0;j<approach_id.length;j++){%>
                                                                <%if(approach_id[j]==approach[i].approach_id){%>
                                                                    selected
                                                                    <%}%>
                                                                        <%}%>
                                                                            >
                                                                            <%=approach[i].measures_section_name%>
                                                            </option>
                                                            <%}%>
                                                                <%}else {%>
                                                                    <option value="<%=approach[i].approach_id%>">
                                                                        <%=approach[i].measures_section_name%>
                                                                    </option>
                                                                    <%}%>
                                                                        <%}%>
                                            </optgroup>

                                        </select>
                                        <label class="mb-1">
                                            (7.3) มาตราการรักษาความปลอดภัยขั้นต่ำที่PDPAกำหนด (PDPA Specific
                                            Measures)
                                        </label>
                                        <select class="select2 form-control custom-select" style="width: 100%;" required
                                            name="specific_id" multiple="multiple" id="specific_id">
                                            <%for (let i=0;i<specific.length;i++){%>
                                                <%if (infraction[0].infraction_infringement==1) {%>
                                                    <option value="<%=specific[i].id_specific%>" <%for(let
                                                        j=0;j<specific_id.length;j++){%>
                                                        <%if(specific_id[j]==specific[i].id_specific){%>
                                                            selected
                                                            <%}%>
                                                                <%}%>
                                                                    >
                                                                    <%=specific[i].measures_section_name%>
                                                    </option>
                                                    <%}else {%>
                                                        <option value="<%=specific[i].id_specific%>">
                                                            <%=specific[i].measures_section_name%>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mt-2">
                                    <div class="col-md-12 mb-2">
                                        <label>
                                            (8) สถานะทางกฎหมายของผู้ควบคุมข้อมูลส่วนบุคคล
                                        </label>
                                    </div>
                                    <div class="col-md-9 mb-2">
                                        <select class="select2 form-control custom-select" style="width: 100%;" required
                                            multiple="multiple" id="infractiontype_legal_status_id"
                                            name="infractiontype_legal_status_id">
                                            <%for (let i=0;i<infractiontype_status.length;i++){%>
                                                <%if (infraction[0].infraction_infringement==1) {%>
                                                    <option value="<%=infractiontype_status[i].infractiontype_id%>"
                                                        <%for(let j=0;j<status.length;j++){%>
                                                        <%if(status[j]==infractiontype_status[i].infractiontype_id){%>
                                                            selected
                                                            <%}%>
                                                                <%}%>
                                                                    >
                                                                    <%=infractiontype_status[i].infractiontype_name%>
                                                    </option>
                                                    <%}else {%>
                                                        <option value="<%=infractiontype_status[i].infractiontype_id%>">
                                                            <%=infractiontype_status[i].infractiontype_name%>
                                                        </option>
                                                        <%}%>
                                                            <%}%>

                                        </select>
                                    </div>
                                    <div class="col-md-12 d-flex">
                                        <label class="me-4">อธิบาย</label>
                                        <textarea name="infractiontype_legal_status_id_explain" rows="3"
                                            class="form-control"><%=infraction[0].infractiontype_legal_status_id_explain%></textarea>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="row mb-2 mt-2">
                                <div class="col-md-3 d-flex  align-content-center">
                                    <h5>เอกสารPDPA</h5>
                                </div>
                                <div class="col-md-6 d-flex align-content-center">
                                    <div class="input-group">
                                        <select class="select2 form-control custom-select" style="width: 100%;" required
                                            multiple="multiple" id="selecte_type_policy" name="doc_id">
                                            <%for (let i=0;i<doc.length;i++){%>
                                                <%if (infraction[0].infraction_infringement==1) {%>
                                                    <option value="<%=doc[i].doc_id%>" <%for(let
                                                        j=0;j<doc_id.length;j++){%>
                                                        <%if(doc_id[j]==doc[i].doc_id){%>
                                                            selected
                                                            <%}%>
                                                                <%}%>
                                                                    >
                                                                    <%=doc[i].doc_name%>
                                                    </option>
                                                    <%}else {%>
                                                        <option value="<%=doc[i].doc_id%>">
                                                            <%=doc[i].doc_name%>
                                                        </option>
                                                        <%}%>
                                                            <%}%>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-3 d-flex ">
                                    <h5>ระยะเวลาทบทวนมาตราการ</h5>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <div class="input-group">
                                        <input type="date" name="infraction_measures_date" class="form-control"
                                            value="<%=infraction[0].day_measures_date%>">
                                        <input type="number" name="infraction_measures_date_count" class="form-control"
                                            placeholder="กรุณาป้อนจำนวนระยะเวลา..."
                                            value="<%=infraction[0].infraction_measures_date_count%>">
                                        <span class="input-group-text">วัน</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-3 d-flex  align-items-center">
                                    <h5>ผู้ดูแลข้อมูลหรือผู้ดูแลระบบหรือผู้ควบคุมมาตราการ</h5>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <input type="text" value="<%=infraction[0].infraction_measures_supervisor%>"
                                        name="infraction_measures_supervisor" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-3 d-flex  align-items-center">
                                    <h5>หมายเหต</h5>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <textarea name="combined_annotation" class="form-control"
                                        rows="3"><%=infraction[0].combined_annotation%></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 d-flex  align-items-center">
                                    <h5>ประเมินความเสี่ยง</h5>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input danger check-outline outline-danger" type="radio"
                                            name="combined_assess_risk" id="primary-radio" value="1"
                                            <%if(infraction[0].combined_assess_risk==1){%>checked<%}%>>
                                            <label class="form-check-label" for="primary-radio">เสี่ยง</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input danger check-outline outline-danger" type="radio"
                                            name="combined_assess_risk" id="primary2-radio" value="2"
                                            <%if(infraction[0].combined_assess_risk==2){%>checked<%}%>>
                                            <label class="form-check-label" for="primary2-radio">เสี่ยงสูง</label>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="modal-footer" style="justify-content: center;">
                        <div class="col-md-4 d-flex justify-content-end">
                            <button type="submit" class="btn btn-success me-2">บันทึกข้อมูล</button>
                            <a href="/appeal/infraction/list" class="btn btn-secondary">ยกเลิก</a>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input success check-outline outline-success" type="checkbox"
                                id="success-outline-check" name="infraction_measures_consult" value="1"
                                <%if(infraction[0].infraction_measures_consult==1){%>checked<%}%>
                                >
                                <label class="form-check-label" for="success-outline-check">ร่างบันทึก
                                    ขอความคิดเห็นจากที่ปรึกษา</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/dist/js/pages/forms/select2/select2.init.js"></script>
    <script>
        function show_infraction(data) {
            let infraction = document.getElementById('infraction')
            let select = infraction.getElementsByTagName('select')
            let input = infraction.getElementsByTagName('input')

            if (data == 2) {
                infraction.style.display = 'none'
                for (let i = 0; i < select.length; i++) {
                    select[i].required = false
                }
                for (let i = 0; i < input.length; i++) {
                    input[i].required = false
                }
            } else {
                infraction.style.display = ''
                // for (let i = 0; i < select.length; i++) {
                //     select[i].required = true
                // }
                // for (let i = 0; i < input.length; i++) {
                //     input[i].required = true
                // }
            }
        }
    </script>

    <%- include ("../_footer") %>