<%- include ("../../_header") %>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ประกาศนโยบายทางอิเล็คทรอนิค</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/management/cookies">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">ประกาศนโยบายทางอิเล็คทรอนิค</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- <div class="col-md-7 justify-content-end align-items-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="input-group mb-3">
                        <input class="form-control" type="date" value="" id="firstDay">
                        <span class="input-group-text" id="basic-addon1">ถึง</span>
                        <input class="form-control" type="date" value="" id="lastDay">
                        <button class="btn btn-outline-warning" type="button" id="SrearchDate"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <div class="align-items-center d-none d-md-flex">
                    <h4 class="card-title mb-0">ประกาศนโยบายทางอิเล็คทรอนิค</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-md-5 justify-content-start align-items-center d-none d-md-flex">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" id="limit"
                            data-bs-target="#Add-announce-policy"><i class="fas fa-plus"></i>
                            เพิ่มเอกสาร</button>
                    </div>
                    <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                        <div class="input-group mb-2 ">
                            <a class="btn btn-outline-warning" href="/announce-policy"><i data-feather="repeat"></i></a>
                            <select name="search_doc_type" class="form-control" id="selecte_type_policy">
                            </select>
                            <span class="input-group-text">หรือ</span>
                            <input type="text" value="" class="form-control" placeholder="ค้นหา..." id="input_search">
                            <button class="btn btn-outline-warning" type="button" id="search_type_policy"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <!---------------------------  DataTable  ---------------------------->
                <div class="table-responsive" id="DataTable-Announce-Policy" style="min-height: 470px;"></div>
                <div class="row mt-3">
                    <div class="col-md-6 text-secondary">
                        <div class="row">
                            <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                รายการ</span>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination"></ul>
                        </nav>
                    </div>
                </div>
                <!---------------------------  DataTable  ---------------------------->
            </div>
        </div>
    </div>

    <form action="/announce-policy/add" method="POST">
        <div class="modal fade" id="Add-announce-policy" class="modal fade" tabindex="-1"
            aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header border-bottom title-part-padding">
                        <h3 style="color:black" class="modal-title ">
                            เพิ่มเอกสาร</h3>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="mb row">
                                <label for="fname" class="col-sm-4 text-start control-label col-form-label">
                                    ชื่อเอกสาร:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="doc_name" placeholder="กรอกชื่อเอกสาร.."
                                        class="form-control" required style="margin-bottom: 10px;">
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="lname" class="col-sm-4 text-start control-label col-form-label">ประเภทเอกสาร
                                    :
                                </label>
                                <div class="col-sm-8 ">
                                    <select name="doc_type_id" class="form-control" value="" required>
                                        <option disabled value="">
                                            เลือก.. </option>
                                        <% if(doc_type){ %>
                                            <% for(var i=0;i<doc_type.length;i++){%>
                                                <%if (doc_type[i].doc_type_id==217) {%>
                                                    <option selected value="<%= doc_type[i].doc_type_id %>">
                                                        <%= doc_type[i].doc_type_name %>
                                                    </option>
                                                    <%}else {%>
                                                        <option value="<%= doc_type[i].doc_type_id %>">
                                                            <%= doc_type[i].doc_type_name %>
                                                        </option>
                                                        <%}%>

                                                            <% } %>
                                                                <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="email1" class="col-sm-4 text-start control-label col-form-label">หมายเหตุ
                                    :</label>
                                <div class="col-sm-8">
                                    <textarea name="doc_remark" class="form-control"
                                        placeholder="หมายเหตุ.."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3  text-center">
                        <button type="submit" class="btn btn-success">
                            บันทึกเอกสาร </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            ปิด
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <form action="/announce-policy/deleted" method="POST">
        <div class="modal fade" id="del_doc" class="modal fade" tabindex="-1"
            aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header border-bottom title-part-padding">
                        <h3 style="color:black" class="modal-title">
                            ยืนยันการลบเอกสาร</h3>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body" id="delete_name_policy">
                        </div>
                    </div>
                    <div class="mb-3  text-center">
                        <button type="submit" class="btn btn-danger">
                            ลบเอกสาร </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            ปิด
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="edit_announce_policy" class="modal fade" tabindex="-1"
        aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/announce-policy/update" method="POST">
                    <div class="modal-header  border-bottom title-part-padding">
                        <h3 class="modal-title text">
                            กำหนดสถานะเอกสาร</h3>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body" id="modal-edite-announce-policy">
                        </div>
                    </div>
                    <div class="mb-3  text-center">
                        <button type="submit" class="btn btn-warning">
                            บันทึกเอกสาร </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            ปิด
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="setlink-modal" class="modal fade show" tabindex="-1" aria-labelledby="info-header-modalLabel"
        aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-info text-white">
                    <h4 class="modal-title" id="info-header-modalLabel">
                        แชร์เอกสาร
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="email" name="email_outside" class="form-control" placeholder="อีเมลล์ผู้รับ"
                            id="email" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="subject" class="form-control" placeholder="หัวข้อ" id="subject"
                            required>
                    </div>
                    <h2 class="bold">Preview</h2>
                    <div style="border-style:solid ;padding: 3%;" id="preview_share_polciy"> </div>
                    <div class="card-body" align="left">
                        <br />
                        <div class="form-group">
                            <textarea id="editer_share_polciy" name="page_content" style="display: none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="mb-3  text-center">
                    <a id="share" class="btn btn-info font-weight-medium">ส่ง</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="close-modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>

    <div id="copydoc-modal" class="modal fade show" tabindex="-1" aria-labelledby="info-header-modalLabel"
        aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-info text-white">
                    <h4 class="modal-title" id="info-header-modalLabel">
                        คัดลอกเอกสาร
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/announce-policy/copy" method="POST">
                    <div class="modal-body" id="copydoc_input"> </div>
                    <div class="mb-3  text-center">
                        <button type="submit" class="btn btn-info font-weight-medium">ยืนยัน</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="/UI/assets/extra-libs/summernote/summernote-lite.min.js"></script>
    <script src="/dist/js/views_js/policy/announce_policy.js" type="text/javascript"></script>
    <%- include ("../../_footer") %>