<%- include ("../../_header") %>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-10 align-self-center">
                <h3 class="page-title">การแจ้งการละเมิด เขียน E-mail</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <!-- <li class="breadcrumb-item"><a href="/appeal">รับเรื่องร้องเรียน</a></li> -->
                            <li class="breadcrumb-item"><a
                                    href="/Email-Board">การส่งข้อมูลไปยังเจ้าของข้อมูลส่วนบุคคล</a></li>
                            <li class="breadcrumb-item">การแจ้งการละเมิด เขียน E-mail </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 justify-content-end align-self-center d-none d-md-flex">
                <a href="/Email-Board" class="btn btn-secondary ">ย้อนกลับ</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="border-bottom title-part-padding ">
                <div class="row">
                    <div class="col-md-4 justify-content-start d-flex align-items-center">
                        <h4 class="card-title mb-0">เขียน E-mail</h4>
                    </div>
                    <div class="col-md-8 justify-content-end d-flex align-items-center">
                        <a href="/default-messgaes-personal" class="btn btn-success">เพิ่มข้อความเริ่มต้น</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form action="/email-owner-personal/send-mail" enctype="multipart/form-data" method="post">
                    <div class="mb-3">
                        <label for="">ตำเเหน่งปุ่ม :</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input success " type="radio" name="location" checked
                                id="secondary-light-radio" value="under">
                            <label class="form-check-label" for="secondary-light-radio"> ด้านล่าง</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input success" type="radio" name="location"
                                id="secondary2-light-radio" value="top">
                            <label class="form-check-label" for="secondary2-light-radio"> ด้านบน</label>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6 form-group" id="firstname">
                            <label class="mb-1">ขื่อผู้รับ</label>
                            <input type="text" name="firstname" class="form-control" placeholder="ขื่อผู้รับ"
                                id="email_firstname" required>
                        </div>
                        <div class="col-md-6 form-group" id="lastname">
                            <label class="mb-1">นามสกุล</label>
                            <input class="form-control" type="text" name="lastname" placeholder="นามสกุลผู้รับ"
                                id="email_lastname" required>
                        </div>
                        <div class="col-md-6 mt-2 email form-group">
                            <label class="mb-1">ผู้รับอีเมล</label>
                            <input type="email" id="email" name="email_to" class="form-control" placeholder="email"
                                required>
                        </div>
                        <div class="col-md-6 mt-2 form-group">
                            <label class="mb-1">ไฟล์แนบ</label>
                            <input class="form-control" type="file" id="formFile" name="files_send" multiple="multiple">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6 form-group">
                            <label class="mb-1">หัวเรื่อง</label>
                            <input type="text" name="subject" id="subject" class="form-control" value=""
                                placeholder="หัวข้อ" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="mb-1">เลือกข้อมูลการแจ้งละเมิด
                                ประเมินมีความเสี่ยงสูงที่ยังไม่ส่งเจ้าชองข้อมูลส่วนบุคคล</label>
                            <select class=" mr-sm-2 form-control" id="infraction" name="infraction">
                                <%if (infraction=="ไม่มีข้อมูล" ) {%>
                                    <option selected value="0">ไม่มีข้อมูล</option>
                                    <%}else {%>
                                        <option selected value="0">เลือกข้อมูลการแจ้งละเมิด...
                                        </option>
                                        <%for (var i=0;i<infraction.length;i++){%>
                                            <option value="<%=infraction[i].id_infraction_id%>">
                                                <%=infraction[i].infraction_complaint_number%>
                                                    <div class="d-inline">
                                                        <%=infraction[i].prefix_name%>
                                                            <%=infraction[i].infraction_firstname%>
                                                                <%=infraction[i].infraction_lastname%>
                                                    </div>
                                            </option>
                                            <%}%>
                                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-6 align-items-start">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input success check-outline outline-success" type="checkbox"
                                    id="default-message">
                                <label class="form-check-label" for="default-message">ข้อความเริ่มต้น</label>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="mb-1">เลือกเอกสาร</label>
                            <select class=" mr-sm-2 select2 form-control" id="policy" name="doc_id" multiple="multiple"
                                style="width: 100%;">
                            </select>
                        </div>

                    </div>
                    <div class="overflow-auto">
                        <h4>เขียนข้อความ</h4>
                        <textarea id="message" name="content"></textarea>
                    </div>


                    <!-- <div>
                        <p style="font-size: large;font-weight: bold;">
                            ข้อมูลการแจ้งละเมิดประเมินมีเสี่ยงสูงที่ส่งเจ้าของข้อมูลส่วนบุคคล
                        </p>
                        <label for="(1)ข้อมูลโดยสังเขปเกี่ยวกับลักษณะของการละเมิดข้อมูลส่วนบุคคล"
                            style="font-weight: bold;">
                            (1) ข้อมูลโดยสังเขปเกี่ยวกับลักษณะของการละเมิดข้อมูลส่วนบุคคล
                        </label>
                        <div style="margin-top: 0.5rem">
                            <label for="(1) ลักษณะและประเภทของการละเมิดข้อมูลส่วนบุคคล">
                                (1) ลักษณะและประเภทของการละเมิดข้อมูลส่วนบุคคล
                            </label>
                        </div>
                        <div style="margin-left: 25px;">
                            <label for="อธิบาย">
                                อธิบาย
                            </label>
                            <label>
                                xxxxxxxxxxxxxx
                            </label>
                        </div>
                        <div>
                            <label for="(2) ลักษณะหรือประเภทของข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการละเมิด">
                                (2) ลักษณะหรือประเภทของข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการละเมิด
                            </label>
                        </div>
                        <div>
                            <label>
                                1.ข้อมูลส่วนบุคคล
                                2.ข้อมูลส่วนบุคคลอ่อนไหว
                            </label>
                        </div>
                        <div>
                            <label>
                                อธิบาย :
                            </label>
                            <label>
                                aaaaaaaaaaaa
                            </label>
                        </div>

                        <div>
                            <label for="(3) ปริมาณของข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการละเมิด/จำนวนรายการ (records)">
                                (3) ปริมาณของข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการละเมิด/จำนวนรายการ (records)
                            </label>
                        </div>
                        <div>
                            <label>
                                อธิบาย :
                            </label>
                            <label>
                                ssssssssssss
                            </label>
                        </div>

                        <div>
                            <label for="(4) ลักษณะประเภทหรือสถานะของเจ้าของข้อมูลส่วนบุคคลที่ได้รับผลกระทบ">
                                (4) ลักษณะประเภทหรือสถานะของเจ้าของข้อมูลส่วนบุคคลที่ได้รับผลกระทบ
                            </label>
                        </div>
                        <div>
                            <label>
                                1.ผู้เยาว์
                                2.ผู้เสมือนไร้ความสามารถ
                            </label>
                        </div>
                        <div>
                            <label>
                                อธิบาย :
                            </label>
                            <label>
                                ดดดดดดดดดดดดด
                            </label>
                        </div>
                    </div>

                    <div style="margin-top: 0.5rem;">
                        <label for="(1)ข้อมูลโดยสังเขปเกี่ยวกับลักษณะของการละเมิดข้อมูลส่วนบุคคล"
                            style="font-weight: bold;">
                            (2) ชื่อสถานที่ติดต่อ และวิธีการติดต่อของเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลในกรณี
                            ที่มีเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล หรือชื่อ สถานที่ติดต่อ
                            และวิธีการติดต่อของบุคคลที่ผู้ควบคุม ข้อมูล
                            ส่วนบุคคลมอบหมายให้ทำ หน้าที่ประสานงานและให้ข้อมูลเพ่ิมเติม
                        </label>
                        <div style=" display: flex;">
                            <div style="padding: 10px;border: 3px solid #d9d9d9;border-radius: 10px;"
                                aria-label="ผู้ควบคุมข้อมูลส่วนบุคคล">
                                <label for="RoPA" style="font-weight: bold;">ผู้ควบคุมข้อมูลส่วนบุคคล</label>
                                <div aria-label="ชื่อ-สกุล/ชื่อองค์กร">
                                    <label for="RoPA">ชื่อ-สกุล/ชื่อองค์กร :</label>
                                    <label for="RoPA">ผู้ควบคุมข้อมูล วีคอนซัลแทนท์</label>
                                </div>
                                <div aria-label="ที่อยู่">
                                    <label for="RoPA">ที่อยู่ :</label>
                                    <label for="RoPA">วีคอนซัลแทนท์</label>
                                </div>
                                <div aria-label="อีเมล">
                                    <label for="RoPA">อีเมล :</label>
                                    <label for="RoPA">control@gmail.com</label>
                                </div>
                                <div aria-label="เบอร์โทรศัพท์">
                                    <label for="เบอร์โทรศัพท์">เบอร์โทรศัพท์ :</label>
                                    <label for="เบอร์โทรศัพท์">123123115</label>
                                </div>
                            </div>
                            <div
                                style="padding: 10px;border: 3px solid #d9d9d9;border-radius: 10px;margin-left: 0.5rem;">
                                <label for="RoPA" style="font-weight: bold;">เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล
                                    (Data
                                    Protection Officer :
                                    DPO)(ถ้ามี)</label>
                                <div aria-label="ชื่อ-สกุล">
                                    <label for="ชื่อ-สกุล">ชื่อ-สกุล :</label>
                                    <label for="ชื่อ-สกุล">เจ้าหน้าที่คุ้มครองข้อมูล วีคอนซัลแทนท์</label>
                                </div>
                                <div aria-label="ชื่อ-สกุล">
                                    <label for="ที่อยู่">ที่อยู่ :</label>
                                    <label for="ที่อยู่">888888888</label>
                                </div>
                                <div aria-label="อีเมล">
                                    <label for="อีเมล">อีเมล :</label>
                                    <label for="อีเมล">DPO@mail.com</label>
                                </div>
                                <div aria-label="เบอร์โทรศัพท์">
                                    <label for="เบอร์โทรศัพท์">เบอร์โทรศัพท์ :</label>
                                    <label for="เบอร์โทรศัพท์">1231502056</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 0.5rem;">
                        <label style="font-weight: bold;"
                            for="(3) ข้อมูลเกี่ยวกับผลกระทบที่อาจเกิดขึ้นกับเจ้าของข้อมูลส่วนบุคคลจากเหตุการละเมิดข้อมูลส่วนบุคคล">(3)
                            ข้อมูลเกี่ยวกับผลกระทบที่อาจเกิดขึ้นกับเจ้าของข้อมูลส่วนบุคคลจากเหตุการละเมิดข้อมูล
                            ส่วนบุคคล
                        </label>
                        <div>
                            <label>
                                (1) ผลกระทบและความเสียหายที่เกิดข้ึนหรืออาจเกิดขึ้นกับเจ้าของข้อมูล
                            </label>
                        </div>
                        <div>
                            <label>
                                อธิบาย :
                            </label>
                            <label>
                                ดดดดดดดดดดดดด
                            </label>
                        </div>

                        <div>
                            <label>
                                (2) กระทบต่อประสิทธิผลของมาตรการที่ผู้ควบคุมข้อมูลส่วนบุคคล
                            </label>
                        </div>
                        <div>
                            <label>
                                1.ใช้ข้อมูล
                                2.ป้องกันการละเมิด
                            </label>
                        </div>
                        <div>
                            <label>
                                อธิบาย :
                            </label>
                            <label>
                                ดดดดดดดดดดดดด
                            </label>
                        </div>
                        <div>
                            <label>
                                (3) ผลกระทบในวงกว้างต่อธุรกิจหรือการดำเนินการหรือต่อสาธารณะจากเหตุการละเมิด
                            </label>
                        </div>
                        <div>
                            <label>
                                อธิบาย :
                            </label>
                            <label>
                                ttttttttttt
                            </label>
                        </div>
                    </div>

                    <div style="margin-top: 0.5rem;">
                        <label style="font-weight: bold;">
                            (4) แนวทางการเยียวยาความเสียหายของเจ้าของข้อมูลส่วนบุคคลและข้อมูลโดยสังเขป
                            เกี่ยวกับมาตรการที่ผู้ควบคุมข้อมูลส่วนบุคคลใช้หรือจะใช้เพื่อป้องกันระงับ
                            หรือแก้ไขเหตุการละเมิด
                            ข้อมูลส่วนบุคคลโดยอาจใช้มาตรการทางบุคลากรกระบวนการหรือเทคโนโลยีหรือมาตรการอื่นใด
                            ที่จำเป็นและเหมาะสมรวมถึงข้อแนะนำเกี่ยวกับมาตรการที่เจ้าของข้อมูลส่วนบุคคลอาจดำ
                            เนินการเพิ่มเติมเพี่อป้องกันระงับหรือแก้ไขเหตุการละเมิดข้อมูลส่วนบุคคล
                            หรือเยียวยาความเสียหาย
                        </label>
                        <div>
                            <label>(1) การเยี่ยวยาหรือการบรรเทาผลกระทบที่เกิดขึ้นต่อเจ้าของข้อมูล</label>
                        </div>
                        <div>
                            <label>
                                อธิบาย :
                            </label>
                            <label>
                                xxxxxxxxxxxxxxxxxxxxx
                            </label>
                        </div>
                        <div>
                            <label>(2) ลักษณะของระบบการจัดเก็บข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการละเมิดและมาตรการ
                                รักษา
                                ความมั่นคงปลอดภัยที่เกี่ยวข้องของผู้ควบคุมข้อมูลส่วนบุคคล</label>
                        </div>
                        <div>
                            <label>
                                1.มาตรการรักษาความมั่นคงปลอดภัยโดยทั่วไป (General Measures)
                            </label>
                            <br>
                            <label>
                                1.test
                                2.tetst1
                            </label>
                        </div>
                        <div>
                            <label>
                                2.มาตราการต้องสามารถระบุความเสี่ยงที่สำคัญที่อาจจะเกิด (Risk-based Approach)
                            </label>
                            <br>
                            <label>
                                Information assets
                                <br>
                                1.2
                            </label>
                            <br>
                            <label>
                                Network and Equipment
                                <br>
                                xcvxcv
                            </label>
                        </div>
                        <div>
                            <label>
                                3.มาตราการรักษาความปลอดภัยขั้นต่ำที่PDPAกำหนด (PDPA Specific Measures)
                            </label>
                            <br>
                            <label>
                                1.test
                                2.tetst1
                            </label>
                        </div>
                    </div>
                    <div>
                        <p style="font-size: large;font-weight: bold;">
                            เอกสาร PDPA
                        </p>
                        <a href="http://127.0.0.51:8000/show_slide/1" target="_blank">xx</a>
                    </div> -->

                    <div class="modal-footer" style="justify-content: center;">
                        <button type="button" class="btn btn-warning" id="print-envelopes">
                            พิมพ์ซองจดหมาย</button>
                        <button type="submit" class="btn btn-success"><i class="far fa-envelope me-1"></i>ส่ง</button>
                        <button type="button" class="btn btn-secondary" id="throw_away">ทิ้ง</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/UI/assets/extra-libs/jqbootstrapvalidation/validation.js"></script>
    <script>
        ! function (window, document, $) {
            "use strict";
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        }(window, document, jQuery);
    </script>
    <script src="/UI/assets/extra-libs/summernote/summernote-lite.min.js"></script>
    <!-- <script src="/dist/js/views_js/email/inbox_board.js"></script> -->
    <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/UI/dist/js/pages/forms/select2/select2.init.js"></script>
    <script src="/dist/js/views_js/email/email_owner_personal_inbox.js"></script>
    <%- include ("../../_footer") %>